<h1>Log In</h1>

<form class="" action="/login" method="post">
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="hashed_password"><br>
  <input type="submit" value="Submit">
</form>
