<h1>Create a new account</h1>

<form class="" action="/users" method="post">
  First Name:<br>
  <input type="text" name="first_name"><br>
  Last Name:<br>
  <input type="text" name="last_name"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="hashed_password"><br>
  <input type="submit" value="Submit">
</form>
