<h1>Welcome, <%= @user.first_name %>!</h1>
<a href="/">Home</a>
<form action="/logout" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log Out">
</form>

<h2>Your favorite games:</h2>
<ul>
  <% @user.games.each do |game| %>
    <li><a href="/games/<%= game.id %>"><%= game.name %></a></li>
  <% end %>
</ul>
