<div class="form-container">
  <form action="/games" method="post">
    <input type="text" name="search" /><br />
    <input type="submit" value="Search for games" />
  </form>

  <div class="form-link"><a href="/games">Best games</a></div>
</div>
