<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <h1>[INSERT SITE NAME HERE]</h1>
    <div class="topbar">
      <% if current_user %>
        <div class="links"><a href="/users/<%= current_user.id %>"><%= current_user.email %></a> | <a href="/logout">logout</a></div>
      <% else %>
        <div class="links"><a href="/login">login</a> | <a href="/users/new">register</a></div>
      <% end %>
      <div class="links"><a href="/">home</a> | </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>
